<h1>Repositext IDML Inspection</h1>

<p>
  This service lets you view an IDML file's XML markup for each contained story.
</p>

<form action='/upload' enctype="multipart/form-data" method='POST'>
    <input name="file" type="file" />
    <input type="submit" value="Upload" />
</form>
