<!DOCTYPE html>
<html>
  <head>
    <title>Repositext IDML Inspection</title>
    <link rel='stylesheet' href='/stylesheet.css' type='text/css' media="screen, projection">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
